*.npz
*.pth
*.tar
*.jpg
*.jpeg
*.zip
*.nii
*.gz
*.tgz
*.dcm
*.pyc
results/*
experiments/*
vis/*
preparation.md
Data/*
Data
*/__pycache__
__pycache__
.idea
vis
Data_Label_vis/*
Data_Label_vis
.vscode
.vscode/*
run_train.sh
run_classify.sh