*.npz
*.pth
*.tar
*.jpg
*.jpeg
*.zip
*.nii
*.gz
*.tgz
*.dcm
*.pyc
results/*
experiments/*
vis/*
preparation.md
Data/*
Data
*/__pycache__
__pycache__
.idea
vis
Data_Seg_OLF/*
Data_Seg_OLF
.vscode
.vscode/*